#root {
  max-width: 1280px;
  margin: 0; 
  padding: 2rem;
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}


.read-the-docs {
  color: #888;
}



Link {
  text-decoration: none; /* Remove default link underline */
  color: #fff; /* Set text color to white */
  padding: 10px 20px; /* Add padding for button size */
  margin: 0 10px; /* Add margin for spacing */
  border: 2px solid #fff; /* Add border for button outline */
  border-radius: 5px; /* Add border-radius for rounded corners */
  background-color: #4caf50; /* Set background color */
  transition: background-color 0.3s; /* Add transition for smooth hover effect */
}

Link:hover {
  background-color: hwb(171 24% 22%); /* Change background color on hover */
}